form input, form select, form textarea, form button, form fieldset:not(#disponible) {
  background-color: #F5F5F5;
  border-radius: 3px;
  border: solid;
  border-width: 1px;
  padding: 4px;
  font-size: 16px;
  transition: border-color 0.2s;
}

form input:not(.ajouter):hover, form select:hover, form textarea:hover {
  border-color: rgb(180, 180, 180);
}

em {
  color: red;
  font-style: normal;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grille {
  display: flex;
  width: 100%;
}

.partiegauche .champ {
  display: flex;
  flex-direction: column;
}

.champ {
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
}

#genres, #themes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.elementliste {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.annuler {
  background-color: #ffb0b0;
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.annuler:hover {
  background-color: #ff8a8a;
}

.submit {
  background-color: #d7ffd8;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #92fc95;
}

.submit:hover, .annuler:hover {
  cursor: pointer;
}

.boutons {
  display: flex;
  gap: 30px;
}

.submit, .annuler {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pluspetit {
  width: 60%;
}

#themes, #genres {
  display: none;
}

#deroulerthemes:checked ~ #themes, #deroulergenres:checked ~ #genres{
  display: flex;
}

.boutonderouler {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  margin-left: 5px;
  margin-bottom: 4px;
  text-align: center;
}

.derouler-plus, .derouler-moins {
  display: none;
  background-color: #F5F5F5;
  transition: background-color 0.3s;
}

#deroulerthemes:checked ~ label .derouler-moins, #deroulergenres:checked ~ label .derouler-moins {
  display: inline-block;
}

#deroulerthemes:not(:checked) ~ label .derouler-plus, #deroulergenres:not(:checked) ~ label .derouler-plus {
  display: inline-block;
}

label[for="deroulerthemes"]:hover span, label[for="deroulergenres"]:hover span {
  background-color: #e7e7e7;
}

label[for="deroulerthemes"], label[for="deroulergenres"], #disponible label, #disponible input, select {
  cursor: pointer;
}

#deroulerthemes, #deroulergenres {
  display: none;
}

#disponible, .champderoule {
  user-select: none;
}

@media (min-width: 701px) {
  .partie {
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  .partiedroite {
    padding-right: 10%;
    padding-left:  5%;
  }
  
  .partiegauche {
    padding-left: 10%;
    padding-right:  5%;
  }
}

@media (max-width: 700px) {
  .grille {
    flex-direction: column;
  }

  .partie {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (min-width: 901px) {
  .elementliste {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .elementliste {
    width: 48%;
  }
}

.case {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.337);
  transform: translate(0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.case .contenu {
  width: fit-content;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

.case .contenu a button {
  width: 100%;
  height: 30px;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  background-color: #F5F5F5;
  transition: background-color 0.3s;
}

.case .contenu a button:hover {
  background-color: #e7e7e7;
}